{% extends 'app/base.html' %}
{% load static %}
{% block profile_info %}
    <div class="userView">
        <i class="material-icons right grey-text text-lighten-2"
           style="position: absolute; bottom: -0.5em; right: 0.5em; padding: 0 0 !important;">settings</i>
        <div class="background" style="height:175px;">
            <img src="{% static 'img/background4.png' %}">
        </div>
        <a href="#"><img style="margin-top: 16%;" class="circle"
                              src="/media/{{ photo }}"  height="42" width="42"></a>
        <a href="#"><span style="margin-left: 5%;" class="white-text name">{{ user }}</span></a>
    </div>
{% endblock %}

{% block side %}
    <li><a href="{% url 'home' %}"><i class="material-icons">home</i>Inicio</a></li>
    <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Activo</a></li>
    <li>
        <div class="switch" style="margin-left: 80px;">
            <label>
                No<input type="checkbox"><span class="lever"></span>Si
            </label>
        </div>
    </li>

{% endblock %}
{% block content %}

    <div class="section"></div>

    <h4 class="teal-text" style="text-align: center;">Editar Perfil</h4>
    <div class="section"></div>

    <div class="container">
        <div class="z-depth-1 grey lighten-4 row"
             style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0 48px; border: 1px solid #EEE;">

            <form class="col s12 m12" method="post" enctype = multipart/form-data>{% csrf_token %}
                <div class='row'>
                    <div class='col s12 m12'>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12 m12'>
                        &ensp;Nombre :
                        <div class="input-field inline ">
                            {{ form.name }}
                            <label style="text-align: center" for='name'></label>
                        </div>
                    </div>
                </div>
                 <div class='row'>
                    <div class='input-field col s12 m12'>
                        &ensp;Apellido :
                        <div class="input-field inline ">
                            {{ form.last_name }}
                            <label style="text-align: center" for='last_name'></label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col s12">
                        <p>Foto de Perfil</p>
                    </div>
                </div>
                <div id="file-upload" class="row">
                    <!--Default version-->

                    <div class="col s12">
                        <div class="dropify-wrapper touch-fallback">
                            <div class="dropify-message">
                                <div class="row">
                                    <div class="col s4"></div>
                                    <div class="col s4">
                                        <i class="material-icons tiny">cloud_upload</i>
                                    </div>
                                    <div class="col s4"></div>
                                </div>
                                <p class="center-align">Arrastre y suelte un archivo aquí o haga click</p>
                                <p class="dropify-error center-align">Sorry, this file is too large</p>
                            </div>
                            <!--<input type="file" id="input-file-now" class="dropify" data-default-file="">-->
                            {{ form.photo }}
                            <button type="button" class="dropify-clear">Remove</button>
                            <div class="dropify-preview"><span class="dropify-render"></span>
                                <div class="dropify-infos">
                                    <div class="dropify-infos-inner">
                                        <p class="dropify-filename">

                                            <!--<span class="file-icon"></span>-->
                                            <span class="dropify-filename-inner"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class='row'>
                    <button class='col m6 btn btn-large waves-effect button teal red'
                       href="{% url 'home' %}">Cancelar<i
                            class="material-icons right">not_interested</i></button>
                    <button class='col m6 btn btn-large waves-effect button teal green' type="submit">Modificar<i
                            class="material-icons right">done</i></button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}