{% extends 'app/base.html' %}
{% load static %}
{% block profile_info %}
    <div class="userView">
        <i class="material-icons right grey-text text-lighten-2"
           style="position: absolute; bottom: -0.5em; right: 0.5em; padding: 0 0 !important;">settings</i>
        <div class="background" style="height:175px;">
            <img src="{% static 'img/background4.png' %}">
        </div>
        <a href="#"><img style="margin-top: 16%;" class="circle"
                         src="{% static 'img/AvatarPenguin.png' %}"></a>
        <a href="#"><span style="margin-left: 5%;" class="white-text name">Invitado</span></a>
    </div>
{% endblock %}

{% block side %}
    <li><a href="{% url 'index' %}"><i class="material-icons">home</i>Inicio</a></li>
    <li><a href="{% url 'login' %}"><i class="material-icons">account_circle</i>Iniciar Sesión</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Filtros</a></li>
    <li>
        <div class="switch" style="margin-left: 10px;">
            <label>
                <input type="checkbox"><span class="lever"></span>Sólo mostrar favoritos
            </label>
        </div>
    </li>
    <li>
        <div class="switch" style="margin-left: 10px;">
            <label>
                <input type="checkbox"><span class="lever"></span>Snacks
            </label>
        </div>
    </li>
    <li>
        <div class="switch" style="margin-left: 10px;">
            <label>
                <input type="checkbox"><span class="lever"></span>Almuerzos
            </label>
        </div>
    </li>

{% endblock %}

{% block content %}
    <script>
        function to_vendor() {
            $(location).attr('href', '/app/vendor/1')
        }
    </script>
    <img src="{% static 'img/mapa.png' %}" onclick="to_vendor()" style="width: 100%; height: 40em">
    <!--<div class="row" style="margin-bottom: 0">
        <div id="map"></div>
    </div>

    <script>
        function initMap() {
            let infoWindow;
            let beau850 = {lat: -33.457785, lng: -70.663808};
            let map = new google.maps.Map(document.getElementById('map'), {
                zoom: 19,
                center: beau850
            });
            infoWindow = new google.maps.InfoWindow;

            let info = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<div><p style="float: left;"><img src="../static/img/AvatarVendedor4.png" width="50" hspace="10"></p>' +
                '<h4>Casino</h4></div>' +
                '<p style="color:#029500;"> Disponible</p>' +
                '<div id="bodyContent">' +
                '<p>Vendedores de almuerzo</p>' +
                '<p><i>Menú de hoy:</i> Lasaña</p>' +
                '<p><i>Formas de pago:</i> Efectivo, Tarjeta de Crédito o Débito, Junaeb</p>' +
                '<p><i>Horario:</i> 12:30-14:15</p>' +
                '<p><input type="checkbox" class="filled-in" id="test" checked="checked" />' +
                '<label for="test">Favorito</label></p>' +
                '<p style="text-align: right;">Ver detalles»</p>' +
                '</div>' +
                '</div>';

            let infoVendedor = new google.maps.InfoWindow({
                content: info,
                maxWidth: 400
            });


            let marker = new google.maps.Marker({
                position: beau850,
                map: map
            });

            let marker2 = new google.maps.Marker({
                position: {lat: -33.457885, lng: -70.663808},
                map: map
            });

            let marker3 = new google.maps.Marker({
                position: {lat: -33.458085, lng: -70.663808},
                map: map,
                icon: '../static/img/star.png'
            });

            let marker4 = new google.maps.Marker({
                position: {lat: -33.458158, lng: -70.663678},
                map: map
            });

            let marker5 = new google.maps.Marker({
                position: {lat: -33.457658, lng: -70.663778},
                map: map
            });

            marker3.addListener('click', function () {
                infoVendedor.open(map, marker3);
            });

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    let pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFZg-UjSTaZ7H_mRYH6bSdoCacLTsppQU&callback=initMap">
    </script>-->
{% endblock %}