<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar productos</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        main {
            margin-bottom: 92px;
        }

        /*
                .fab-tip {
                    position: fixed;
                    right: 115px;
                    padding: 0px 0.5rem;
                    text-align: right;
                    background-color: #323232;
                    border-radius: 2px;
                    color: #FFF;
                    width: auto;
                }

                .fab {
                    background: #03A9F4;
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    text-align: center;
                    color: #FFF;
                    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
                    position: fixed;
                    bottom: 48px;
                    right: 48px;
                    font-size: 2.6667em;
                    display: inline-block;
                    cursor: default;
                }

                .fab span {
                    vertical-align: middle;
                }

                .fab.child {
                    right: 58.66666667px;
                    width: 42.66666667px;
                    height: 42.66666667px;
                    display: none;
                    opacity: 0;
                    font-size: 2em;
                }
*/
        .backdrop_gray {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ECECEC;
            opacity: 0.9;
            display: none;
            z-index: 1;
        }

        /*body {
            background: #363F45;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            color: #FFF;
        }*/
        .mobile-fab-tip {
            position: fixed;
            right: 85px;
            padding: 0px 0.5rem;
            text-align: right;
            background-color: #323232;
            border-radius: 2px;
            color: #FFF;
            width: auto;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });

        $(document).ready(function () {
            $('.tooltipped').tooltip({delay: 50});
        });
        function menuBlanco() {
            $('#fondoBlanco').toggle();
        }


    </script>

</head>
<body style="background-color: #e2fffb">
<header>
    <nav class="top-nav" style="background-color: #1abc9c">
        <div class="container">
            <div class="nav-wrapper">
                <a class="waves-effect waves-light " style="height: inherit" href="registrados.html">
                    <img src="https://image.flaticon.com/icons/svg/122/122637.svg"
                         style="width: 3.5em; height: 3.5em ; padding-right: .5em; margin-top: .3em">
                </a>

                <a class="brand-logo center">Editar productos</a>
            </div>

        </div>
    </nav>
</header>
<main>
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card horizontal">

                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator "
                         src="http://3.bp.blogspot.com/-p29CGVu_22Q/VcEIostZOQI/AAAAAAAAgZc/lpFp91hkPzw/s1600/CameraNext.png"
                         style="width: 100px; height: 80px">


                </div>
                <div class="card-content" style="width: 100%">
                    <!--<span class="card-title activator grey-text text-darken-4" style="font-weight: normal">Cool Ranch Doritos<i
                            class="material-icons right">more_vert</i></span>-->
                    <div class="row">
                        <div class="input-field inline col s12">
                            <input id="food-name" type="text">
                            <label for="food-name" data-error="No válido" data-success="OK">Nombre comida</label>
                        </div>
                        <div class="input-field inline col">
                            <span class="prefix">$</span>
                            <input id="price" type="number">
                            <label for="price" data-error="No válido" data-success="OK">Precio</label>
                        </div>
                        <div class="input-field col">
                            <select multiple>
                                <option value="" disabled selected>Elige categorías</option>
                                <option value="vegetarian"
                                        data-icon="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg">
                                    Vegetariano
                                </option>
                                <option value="vegan"
                                        data-icon="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg">
                                    Vegano
                                </option>
                            </select>
                        </div>

                        <div class="input-field col s12">
                            <textarea id="description" class="materialize-textarea"></textarea>
                            <label for="description">Descripción</label>
                        </div>
                        <!--<div class="col"><a class="orange-text inline" href="#" style="float: right">ELIMINAR</a></div>

                        <div class="file-field input-field inline col" style="margin: 0">
                            <a class="orange-text">CAMBIAR FOTO</a>
                            <input type="file">
                        </div>-->
                        <div class="right" style="position: relative; margin-left: -100px;">
                        <div class="file-field input-field inline" style="margin: 0">
                            <input type="file">
                            <a class="waves-effect waves-teal btn-flat orange-text">Cambiar foto</a>

                        </div>
                            <a class="waves-effect waves-teal btn-flat orange-text">Eliminar</a></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card horizontal">

                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator "
                             src="http://3.bp.blogspot.com/-p29CGVu_22Q/VcEIostZOQI/AAAAAAAAgZc/lpFp91hkPzw/s1600/CameraNext.png"
                             style="width: 100px; height: 80px">


                    </div>
                    <div class="card-content" style="width: 100%">
                        <!--<span class="card-title activator grey-text text-darken-4" style="font-weight: normal">Cool Ranch Doritos<i
                                class="material-icons right">more_vert</i></span>-->
                        <div class="row">
                            <div class="input-field inline col s12">
                                <input id="food-name" type="text">
                                <label for="food-name" data-error="No válido" data-success="OK">Nombre comida</label>
                            </div>
                            <div class="input-field inline col">
                                <span class="prefix">$</span>
                                <input id="price" type="number">
                                <label for="price" data-error="No válido" data-success="OK">Precio</label>
                            </div>
                            <div class="input-field col">
                                <select multiple>
                                    <option value="" disabled selected>Elige categorías</option>
                                    <option value="vegetarian"
                                            data-icon="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg">
                                        Vegetariano
                                    </option>
                                    <option value="vegan"
                                            data-icon="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg">
                                        Vegano
                                    </option>
                                </select>
                            </div>

                            <div class="input-field col s12">
                                <textarea id="description" class="materialize-textarea"></textarea>
                                <label for="description">Descripción</label>
                            </div>
                            <div class="col"><a class="orange-text inline" href="#" style="float: right">ELIMINAR</a>
                            </div>

                            <div class="file-field input-field inline col" style="margin: 0">
                                <a class="orange-text">CAMBIAR FOTO</a>
                                <input type="file">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="card horizontal">

                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator "
                                 src="http://3.bp.blogspot.com/-p29CGVu_22Q/VcEIostZOQI/AAAAAAAAgZc/lpFp91hkPzw/s1600/CameraNext.png"
                                 style="width: 100px; height: 80px">


                        </div>
                        <div class="card-content" style="width: 100%">
                            <!--<span class="card-title activator grey-text text-darken-4" style="font-weight: normal">Cool Ranch Doritos<i
                                    class="material-icons right">more_vert</i></span>-->
                            <div class="row">
                                <div class="input-field inline col s12">
                                    <input id="food-name" type="text">
                                    <label for="food-name" data-error="No válido" data-success="OK">Nombre
                                        comida</label>
                                </div>
                                <div class="input-field inline col">
                                    <span class="prefix">$</span>
                                    <input id="price" type="number">
                                    <label for="price" data-error="No válido" data-success="OK">Precio</label>
                                </div>
                                <div class="input-field col">
                                    <select multiple>
                                        <option value="" disabled selected>Elige categorías</option>
                                        <option value="vegetarian"
                                                data-icon="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg">
                                            Vegetariano
                                        </option>
                                        <option value="vegan"
                                                data-icon="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg">
                                            Vegano
                                        </option>
                                    </select>
                                </div>

                                <div class="input-field col s12">
                                    <textarea id="description" class="materialize-textarea"></textarea>
                                    <label for="description">Descripción</label>
                                </div>
                                <div class="col"><a class="orange-text inline" href="#"
                                                    style="float: right">ELIMINAR</a></div>

                                <div class="file-field input-field inline col" style="margin: 0">
                                    <a class="orange-text">CAMBIAR FOTO</a>
                                    <input type="file">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div id="fondoBlanco" class="backdrop_gray hide-on-large-only" hidden></div>

                <div class="fixed-action-btn click-to-toggle" style="bottom:24px; right:24px;" onclick="menuBlanco()">
                    <a class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></a>
                    <ul>
                        <li>
                            <a href="#" class="btn-floating blue"><i class="material-icons">settings_backup_restore</i></a>
                            <a href="#" class="btn-floating mobile-fab-tip">Descartar Cambios</a> <!--tooltip-->
                        </li>
                        <li>
                            <a href="#" class="btn-floating red"><i class="material-icons">add</i></a>
                            <a href="#" class="btn-floating mobile-fab-tip">Agregar producto</a> <!--tooltip-->
                        </li>
                        <li>
                            <a href="#" class="btn-floating green"><i class="material-icons">done</i></a>
                            <a href="#" class="btn-floating mobile-fab-tip">Guardar y salir</a> <!--tooltip-->
                        </li>


                    </ul>
                </div>
</main>
</body>
</html>