<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foods</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .center {
            margin: auto;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>

</head>
<body>
<main>
    <div class="row">
        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                         src="http://3.bp.blogspot.com/-p29CGVu_22Q/VcEIostZOQI/AAAAAAAAgZc/lpFp91hkPzw/s1600/CameraNext.png"
                         style="width: 100px; height: 80px">
                </div>
                <div class="card-content" style="width: 100%">
                    <!--<span class="card-title activator grey-text text-darken-4" style="font-weight: normal">Cool Ranch Doritos<i
                            class="material-icons right">more_vert</i></span>-->
                    <div class="flow-text row">
                        <div class="input-field inline col s12">
                            <input id="food-name" type="text">
                            <label for="food-name" data-error="No válido" data-success="OK">Nombre comida</label>
                        </div>
                        <div class="input-field inline col">
                            <span class="prefix">$</span>
                            <input id="price" type="number">
                            <label for="price" data-error="No válido" data-success="OK">Precio</label>
                        </div>
                        <div class="input-field col">
                            <select multiple>
                                <option value="" disabled selected>Elige categorías</option>
                                <option value="vegetarian"
                                        data-icon="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg">
                                    Vegetariano
                                </option>
                                <option value="vegan"
                                        data-icon="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg">
                                    Vegano
                                </option>
                            </select>
                        </div>

                        <div class="input-field col s12">
                            <textarea id="description" class="materialize-textarea"></textarea>
                            <label for="description">Descripción</label>
                        </div>

                        <a class="orange-text" href="#" style="float: right">ELIMINAR</a></div>
                </div>
            </div>
        </div>

        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                         src="http://3.bp.blogspot.com/-p29CGVu_22Q/VcEIostZOQI/AAAAAAAAgZc/lpFp91hkPzw/s1600/CameraNext.png"
                         style="width: 100px; height: 80px">
                </div>
                <div class="card-content" style="width: 100%">
                    <!--<span class="card-title activator grey-text text-darken-4" style="font-weight: normal">Cool Ranch Doritos<i
                            class="material-icons right">more_vert</i></span>-->
                    <div class="flow-text row">
                        <div class="input-field inline col s12">
                            <input id="food-name" type="text">
                            <label for="food-name" data-error="No válido" data-success="OK">Nombre comida</label>
                        </div>
                        <div class="input-field inline col">
                            <span class="prefix">$</span>
                            <input id="price" type="number">
                            <label for="price" data-error="No válido" data-success="OK">Precio</label>
                        </div>
                        <div class="input-field col">
                            <select multiple>
                                <option value="" disabled selected>Elige categorías</option>
                                <option value="vegetarian"
                                        data-icon="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg">
                                    Vegetariano
                                </option>
                                <option value="vegan"
                                        data-icon="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg">
                                    Vegano
                                </option>
                            </select>
                        </div>

                        <div class="input-field col s12">
                            <textarea id="description" class="materialize-textarea"></textarea>
                            <label for="description">Descripción</label>
                        </div>

                        <a class="orange-text" href="#" style="float: right">ELIMINAR</a></div>
                </div>
            </div>
        </div>

        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                         src="http://3.bp.blogspot.com/-p29CGVu_22Q/VcEIostZOQI/AAAAAAAAgZc/lpFp91hkPzw/s1600/CameraNext.png"
                         style="width: 100px; height: 80px">
                </div>
                <div class="card-content" style="width: 100%">
                    <!--<span class="card-title activator grey-text text-darken-4" style="font-weight: normal">Cool Ranch Doritos<i
                            class="material-icons right">more_vert</i></span>-->
                    <div class="flow-text row">
                        <div class="input-field inline col s12">
                            <input id="food-name" type="text">
                            <label for="food-name" data-error="No válido" data-success="OK">Nombre comida</label>
                        </div>
                        <div class="input-field inline col">
                            <span class="prefix">$</span>
                            <input id="price" type="number">
                            <label for="price" data-error="No válido" data-success="OK">Precio</label>
                        </div>
                        <div class="input-field col">
                            <select multiple>
                                <option value="" disabled selected>Elige categorías</option>
                                <option value="vegetarian"
                                        data-icon="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg">
                                    Vegetariano
                                </option>
                                <option value="vegan"
                                        data-icon="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg">
                                    Vegano
                                </option>
                            </select>
                        </div>

                        <div class="input-field col s12">
                            <textarea id="description" class="materialize-textarea"></textarea>
                            <label for="description">Descripción</label>
                        </div>

                        <a class="orange-text" href="#" style="float: right">ELIMINAR</a></div>
                </div>
            </div>
        </div>

    </div>
    <div class="fixed-action-btn"><a class="btn-floating btn-large waves-effect waves-light red z-depth-4"><i
            class="material-icons">add</i></a></div>
</main>
</body>
</html>