<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foods</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
<div class="row">
        <div class="col s12 m7">
        <div class="card horizontal hoverable">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator"
                     src="http://img2.rnkr-static.com/user_node_img/50009/1000168434/C100/cool-ranch-doritos-food-photo-u1.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" style="font-weight: normal">Cool Ranch Doritos<i
                        class="material-icons right">more_vert</i></span>
                <div class="flow-text">
                    <span>$450</span>
                    <a class="orange-text" href="#" style="float: right">LIKEAR!</a></div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" style="font-weight: normal">Cool Ranch Doritos<i
                        class="material-icons right">close</i></span>
                <p>¿Qué clase de Doritos son éstos?</p>
            </div>
        </div>
    </div>


        <div class="col s12 m7">
        <div class="card horizontal hoverable">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator"
                     src="http://lorempixel.com/output/food-q-c-100-100-9.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" style="font-weight: normal">Lorem Burger c/Ipsum Cheese<i
                        class="material-icons right">more_vert</i></span>
                <div class="flow-text">
                    <span>$1500</span>
                    <a class="orange-text" href="#" style="float: right">LIKEAR!</a></div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" style="font-weight: normal">Lorem Burger c/Ipsum Cheese<i
                        class="material-icons right">close</i></span>
                <p>Lorem ipsum sit amet blah blah.</p>
            </div>
        </div>
    </div>


    <div class="col s12 m7">
        <div class="card horizontal hoverable">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator"
                     src="http://flagpole.com/i/thumbnail/Hungry_Howie_s_pizza_from_PR_company-uid14888192605552-640x360.jpg/100/100/1/25190">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" style="font-weight: normal">Pizza con Pepperoni<i
                        class="material-icons right">more_vert</i></span>
                <div class="flow-text">
                    <span>$2500</span>
                    <a class="orange-text" href="#" style="float: right">LIKEAR!</a></div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" style="font-weight: normal">Pizza con Pepperoni<i
                        class="material-icons right">close</i></span>
                <p>Las mejores pizzas son las que tienen mucho, muuucho pepperoni.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>