<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <style>
        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }

    </style>
    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>

    <script>
        function perfil() {
            console.log("aqui");
            $('#main').slideUp();
            $('#perfil').slideDown();

        }


    </script>


</head>
<body>
<header>
    <ul id="slide-out" class="side-nav fixed" style="background-color: #1abc9c">
        <div id="main">


            <li>
                <h1 style="text-align: center; color: white">App</h1>
            </li>
            <li>
                <div class="card-panel">
                    <img src="https://s-media-cache-ak0.pinimg.com/originals/fd/f1/0f/fdf10f0f66831f90ad49f1d436142adc.jpg"
                         alt="" class="circle responsive-img" onclick="perfil()">
                </div>
            </li>
            <div id="main_options">
                <li><a href="#!">First Sidebar Link</a></li>
                <li><a href="#!">Second Sidebar Link</a></li>
            </div>
        </div>
        <div id="perfil" hidden>
            <li><a href="#!">Login</a></li>
            <div class="row">
                <div class="input-field col s12">
                    <input id="login" type="login" class="validate" value="Username">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="login" class="validate" value="Password">
                </div>
            </div>
        </div>
    </ul>
    <!--<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
</header>

<main>
    <div class="row">
        <div id="map"></div>
        <script>
            var marker = null
            function initMap() {
                let uluru = {lat: -33.457779, lng: -70.6627};
                let map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 18,
                    center: uluru
                });
                map.addListener('click', function (e) {
                    placeMarker(e.latLng, map);
                });
            }

            function placeMarker(latLng, map) {
                if (marker === null) {
                    marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        id: 'unique-marker'
                    });
                }
                else {
                    marker.setPosition(latLng)
                }

            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFZg-UjSTaZ7H_mRYH6bSdoCacLTsppQU&callback=initMap">
        </script>
    </div>
</main>
<!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->


</body>
</html>